.message {
    position: relative;
    max-width: 428px;
    min-width: 50px;
    padding: 8px 8px 25px 8px;
    border-radius: 8px;
    overflow-wrap: break-word;
    font-weight: 500;
    font-size: 15px;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.1);
}

.bot-message {
    background-color: rgba(184, 248, 88, 0.8);
    align-self: flex-start;
    box-shadow: 2px 5px 5px rgba(94, 142, 34, 0.2);
}

.user-message {
    background-color: rgba(176, 248, 248, 0.9);
    align-self: flex-end;
    box-shadow: -2px 5px 5px rgba(0, 112, 28, 0.2);
}

.message-time {
    position: absolute;
    bottom: 5px;
    right: 10px;
    font-size: 0.8em;
    color: rgba(0, 0, 0, 0.3);
    text-align: right;
    margin-top: 5px;
}

.user-message-time {
     color: color: rgba(0, 0, 0, 0.3);
}

.message-date-wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
}

.message-date-content {
    padding: 5px 10px 5px 10px;
    font-weight: 500;
    font-size: 15px;
}