{% extends 'base/layout.html' %}

{% block title %}Аналитика{% endblock %}

{% block content %}
<div class="d-flex h-100" style="height: 100%;">
    <div class="chat-sidebar d-flex flex-column h-100 align-items-center" style="border-right: 1px solid #ccc; padding: 20px;">
        <div class="py-2 sidebar-header d-flex align-items-center justify-content-center border-bottom p-0"
             style="width: 100%;">
            <h3 class="mb-0">Отчеты</h3>
        </div>
        <div class="d-flex flex-column gap-3 mt-4 w-100">
            <button id="btn-messages-count" class="btn custom-btn sidebar-btn">
                По кол-ву сообщений
            </button>
            <button id="btn-users-activity" class="btn custom-btn sidebar-btn">
                По активности пользователей
            </button>
            <button id="btn-ignored" class="btn custom-btn sidebar-btn">
                По частоте отказов
            </button>
        </div>
    </div>

    <div id="chart-container" class="flex-grow-1 p-4" style="display: none;">
        <canvas id="messagesChart" style="display: none;"></canvas>
        <canvas id="userActivityChart" style="display: none;"></canvas>
        <canvas id="ignoredFrequencyChart" style="display: none;"></canvas>
    </div>
</div>

{% endblock %}
