{% extends 'base/layout.html' %}
{% load custom_filters %}

{% block title %}Настройки{% endblock %}

{% block content %}
<div class="d-flex h-100 justify-center items-center" style="height: 100%; margin-left: 50px;">
    <div class="settings-sidebar bg-white shadow-lg rounded-lg w-full sm:w-96 max-w-lg space-y-6"
         style="padding: 50px;">
        <div class="sidebar-header text-center border-b pb-4 mb-6">
            <h3 class="text-2xl font-semibold text-gray-800">Настройки</h3>
        </div>
        <div class="status mb-6">
            <h5 class="text-lg font-medium text-gray-700" data-bs-toggle="tooltip"
                title="Авторизация через Active Directory позволяет использовать учетные данные AD для аутентификации и авторизации пользователей">
                Текущий статус авторизации через AD:
            </h5>
            <p class="text-md font-semibold" style="color: {{ settings.ad_enabled|yesno:'green,red' }};">
                {{ settings.ad_enabled|yesno:'Включена,Отключена' }}
            </p>
        </div>

        <form id="ad-settings-form" method="post" action="">
            {% csrf_token %}

            <div class="form-group mb-4">
                <label for="enable_ad" class="block text-lg font-medium text-gray-700">Авторизация через AD:</label>
                <input type="checkbox" id="enable_ad" name="enable_ad" {% if settings.ad_enabled %}checked{% endif %}
                       class="form-checkbox h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-2 focus:ring-blue-600">
            </div>

            <div id="ad-parameters" style="display: {% if settings.ad_enabled %}block{% else %}none{% endif %};"
                 class="mb-6">
                <h5 class="text-lg font-medium text-gray-700 mb-4">Настройки авторизации:</h5>

                <div class="form-group mb-4">
                    <label for="ad_server" class="block text-md font-medium text-gray-600">Название LDAP сервера
                        (например: ldap://company.local):</label>
                    <input type="text" id="ad_server" name="ad_server" value="{{ settings.ldap_server }}"
                           class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600">
                </div>

                <div class="form-group mb-4">
                    <label for="ad_domain" class="block text-md font-medium text-gray-600">Домен (например:
                        COMPANY):</label>
                    <input type="text" id="ad_domain" name="ad_domain" value="{{ settings.domain }}"
                           class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600">
                </div>
            </div>

            <div class="form-group mb-4">
                <label for="message_retention_months" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip" title="Срок хранения на сервере переписки с пользователями">
                    Срок хранения сообщений (в месяцах):
                </label>
                <input type="number" id="message_retention_months" name="message_retention_months"
                       value="{{ current_retention_months }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="1" max="24">
            </div>

            <div class="form-group mb-4">
                <label for="logs_backup" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip" title="Срок хранения на логов на сервере">
                    Срок хранения логов (в днях):
                </label>
                <input type="number" id="logs_backup" name="logs_backup"
                       value="{{ logs_backup }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="1" max="100">
            </div>

            <div class="form-group mb-4">
                <label for="session_duration" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip"
                       title="Период времени перед сбросом сессии при отсутствии активности пользователя">
                    Длительность сессии (в минутах):
                </label>
                <input type="number" id="session_duration" name="session_duration"
                       value="{{ settings.session_duration }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="5" max="120" style="-moz-appearance: textfield; -webkit-appearance: none;">
            </div>

            <button type="button" id="save-settings"
                    class="btn btn-success mt-4 w-full py-3 text-white font-semibold bg-blue-500 rounded-lg hover:bg-blue-600 transition"
                    style="display: none;">
                Сохранить
            </button>
        </form>
    </div>
</div>

<!-- Подключение Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    // Настройки Toastr
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    const enableAdCheckbox = document.getElementById('enable_ad');
    const adParameters = document.getElementById('ad-parameters');
    const saveButton = document.getElementById('save-settings');
    const retentionSelect = document.getElementById('message_retention_months');
    const logsBackupSelect = document.getElementById('logs_backup');
    const adServerInput = document.getElementById('ad_server');
    const adDomainInput = document.getElementById('ad_domain');
    const sessionDurationInput = document.getElementById('session_duration');
    const statusText = document.querySelector('.status p');

    const initialValues = {
        enableAd: enableAdCheckbox.checked,
        retentionSelect: retentionSelect.value,
        logsBackupSelect: logsBackupSelect.value,
        adServer: adServerInput.value,
        adDomain: adDomainInput.value,
        sessionDuration: sessionDurationInput.value,
    };

    function hasChanges() {
        return (
            enableAdCheckbox.checked !== initialValues.enableAd ||
            retentionSelect.value !== initialValues.retentionSelect ||
            logsBackupSelect.value !== initialValues.logsBackupSelect ||
            adServerInput.value !== initialValues.adServer ||
            adDomainInput.value !== initialValues.adDomain ||
            sessionDurationInput.value !== initialValues.sessionDuration
        );
    }

    function toggleSaveButton() {
        saveButton.style.display = hasChanges() ? 'block' : 'none';
    }

    enableAdCheckbox.addEventListener('change', () => {
        adParameters.style.display = enableAdCheckbox.checked ? 'block' : 'none';
        toggleSaveButton();
    });
    retentionSelect.addEventListener('change', toggleSaveButton);
    logsBackupSelect.addEventListener('change', toggleSaveButton);
    adServerInput.addEventListener('input', toggleSaveButton);
    adDomainInput.addEventListener('input', toggleSaveButton);
    sessionDurationInput.addEventListener('input', toggleSaveButton);

    saveButton.addEventListener('click', function () {
        const formData = new FormData();
        formData.append('session_duration', sessionDurationInput.value);
        formData.append('ad_server', adServerInput.value);
        formData.append('ad_domain', adDomainInput.value);
        formData.append('message_retention_months', retentionSelect.value);
        formData.append('logs_backup', logsBackupSelect.value);
        formData.append('enable_ad', enableAdCheckbox.checked ? 'on' : 'off');

        const csrftoken = document.cookie.split('; ').find(row => row.startsWith('csrftoken=')).split('=')[1];

        fetch('/api/update-session/', {
            method: 'POST',
            body: formData,
            headers: {
                'X-Requested-With': 'XMLHttpRequest',
                'X-CSRFToken': csrftoken
            }
        })
            .then(response => response.json())
            .then(data => {
                if (data.status === 'success') {
                    toastr.success('Изменения сохранены!', 'Успех');
                    saveButton.style.display = 'none';
                    initialValues.enableAd = enableAdCheckbox.checked;
                    initialValues.retentionSelect = retentionSelect.value;
                    initialValues.logsBackupSelect = logsBackupSelect.value;
                    initialValues.adServer = adServerInput.value;
                    initialValues.adDomain = adDomainInput.value;
                    initialValues.sessionDuration = sessionDurationInput.value;
                    statusText.textContent = enableAdCheckbox.checked ? 'Включена' : 'Отключена';
                    statusText.style.color = enableAdCheckbox.checked ? 'green' : 'red';
                } else {
                    toastr.error('Ошибка при сохранении: ' + data.message, 'Ошибка');
                }
            })
            .catch(error => {
                console.error('Ошибка:', error);
                toastr.error('Произошла ошибка. Попробуйте еще раз.', 'Ошибка');
            });
    });

    window.onload = function() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                container: 'body',
                placement: 'bottom'
            });
        });
    };

    toggleSaveButton();
</script>
{% endblock %}