{% extends 'base/layout.html' %}
{% load custom_filters %}

{% block title %}Настройки{% endblock %}

{% block content %}
<div class="d-flex h-100 justify-center items-center" style="height: 100%; margin-left: 50px;">
    <div class="settings-sidebar bg-white shadow-lg rounded-lg w-full sm:w-96 max-w-lg space-y-6"
         style="padding: 50px;">
        <div class="sidebar-header text-center border-b pb-4 mb-6">
            <h3 class="text-2xl font-semibold text-gray-800">Настройки</h3>
        </div>
        <div class="status mb-6">
            <h5 class="text-lg font-medium text-gray-700" data-bs-toggle="tooltip"
                title="Авторизация через Active Directory позволяет использовать учетные данные AD для аутентификации и авторизации пользователей">
                Текущий статус авторизации через AD:
            </h5>
            <p class="text-md font-semibold" style="color: {{ settings.ad_enabled|yesno:'green,green' }};">
                {{ True|yesno:'Включена,Отключена' }}
            </p>
        </div>

        <form id="ad-settings-form" method="post" action="">
            {% csrf_token %}

            <div class="form-group mb-4">
                <label for="enable_ad" class="block text-lg font-medium text-gray-700">Авторизация через AD:</label>
                <input type="checkbox" id="enable_ad" name="enable_ad" {% if True %}checked{% endif %}
                       class="form-checkbox h-5 w-5 text-blue-600 border-gray-300 rounded focus:ring-2 focus:ring-blue-600" disabled>
            </div>

            <!-- Удалены дополнительные параметры -->
            <div class="form-group mb-4">
                <label for="message_retention_months" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip" title="Срок хранения на сервере переписки с пользователями">
                    Срок хранения сообщений (в месяцах):
                </label>
                <input type="number" id="message_retention_months" name="message_retention_months"
                       value="{{ current_retention_months }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="1" max="24">
            </div>

            <div class="form-group mb-4">
                <label for="logs_backup" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip" title="Срок хранения логов на сервере">
                    Срок хранения логов (в днях):
                </label>
                <input type="number" id="logs_backup" name="logs_backup"
                       value="{{ logs_backup }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="1" max="100">
            </div>

            <div class="form-group mb-4">
                <label for="session_duration" class="block text-md font-medium text-gray-600"
                       data-bs-toggle="tooltip"
                       title="Период времени перед сбросом сессии при отсутствии активности пользователя">
                    Длительность сессии (в минутах):
                </label>
                <input type="number" id="session_duration" name="session_duration"
                       value="{{ settings.session_duration }}"
                       class="form-input mt-2 p-2 w-full border-gray-300 rounded-lg shadow-sm focus:ring-2 focus:ring-blue-600"
                       min="5" max="120" style="-moz-appearance: textfield; -webkit-appearance: none;">
            </div>

            <button type="button" id="save-settings"
                    class="btn btn-success mt-4 w-full py-3 text-white font-semibold bg-blue-500 rounded-lg hover:bg-blue-600 transition"
                    style="display: none;">
                Сохранить
            </button>
        </form>
    </div>
</div>

<!-- Подключение Toastr -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>

<script>
    // Настройки Toastr
    toastr.options = {
        "closeButton": true,
        "debug": false,
        "newestOnTop": true,
        "progressBar": true,
        "positionClass": "toast-top-center",
        "preventDuplicates": false,
        "showDuration": "300",
        "hideDuration": "1000",
        "timeOut": "5000",
        "extendedTimeOut": "1000",
        "showEasing": "swing",
        "hideEasing": "linear",
        "showMethod": "fadeIn",
        "hideMethod": "fadeOut"
    };

    const saveButton = document.getElementById('save-settings');

    function toggleSaveButton() {
        saveButton.style.display = 'none'; // Скрываем кнопку сохранения
    }

    window.onload = function() {
        var tooltipTriggerList = [].slice.call(document.querySelectorAll('[data-bs-toggle="tooltip"]'));
        tooltipTriggerList.map(function (tooltipTriggerEl) {
            return new bootstrap.Tooltip(tooltipTriggerEl, {
                container: 'body',
                placement: 'bottom'
            });
        });
    };

    toggleSaveButton();
</script>
{% endblock %}