{% extends "dashboard/layout.html" %}

{% block title %}Изменение пользователя{% endblock %}

{% block content %}
    <div class="container mt-5">
        <div class="form-container mx-auto" style="max-width: 500px;">
            <h2 class="text-center">Изменение пользователя</h2>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary btn-block">Сохранить изменения</button>
            </form>
            <div class="text-center mt-3">
                <a href="{% url 'chat_dashboard:user_list' %}">Назад к списку пользователей</a>
            </div>
        </div>
    </div>
{% endblock %}