{% csrf_token %}
<button id="user-chat-toggle" class="btn btn-primary">
  <i class="fas fa-comment-dots"></i>
</button>
<div class="chat-window" id="user-chat-window">
  <div class="chat-header d-flex justify-content-between align-items-center">
    <div
      class="d-flex align-items-center justify-content-center"
      style="font-size: 20px; line-height: bold"
    >
      Чат-бот для поддержки пользователей
    </div>
    <div class="chat-control-buttons">
      <button
        id="user-minimize-chat"
        class="chat-minimize"
        aria-label="Minimize"
      >
        _
      </button>
      <button
        id="user-close-chat"
        class="btn-close btn-close-white"
        aria-label="Close"
      ></button>
    </div>
  </div>
  <div class="chat-messages-area" id="user-chat-messages-area"></div>
  <div class="chat-footer">
    <div class="typing-animation"></div>
    <div class="menu-buttons"></div>
    <div class="footer-wrapper">
      <button class="btn btn-primary chat-menu-button" id="user-menu-button">
        <span>Меню</span>
        <i class="fas fa-bars" style="margin-left: 10px"></i>
      </button>
      <input
        type="text"
        class="form-control chat-input"
        placeholder="Ваше сообщение..."
        id="user-chat-input"
      />
      <button class="btn chat-send-button" id="user-send-message">
        <i class="fas fa-paper-plane"></i>
      </button>
    </div>
  </div>
</div>