.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #343a40;
    color: #fff;
    height: 100vh;
    width: 52px;
    padding: 20px 0;
}

.nav-item {
    width: 100%;
}

.sidebar .nav-link {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    transition: background-color 0.3s;
}

.sidebar .nav-link:hover {
    background-color: #495057;
}

.sidebar .nav-link.active {
    background-color: #007bff;
}

.sidebar .nav {
    height: 50%
}

.sidebar .account_wrapper {
    display: flex;
    width: 100%
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.user-info {
    flex-shrink: 0;
}

.dropdown-menu {
  max-height: 300px;
  overflow-y: auto;
}

.chat-item.active {
    background-color: #e0e0e0 !important;
}

.chat-user {
    font-size: 0.9rem;
}

.chat-time {
    font-size: 0.8rem;
}

.message-time {
    font-size: 0.8rem;
}

.message-sender {
    font-size: 1rem;
    font-weight: bold;
}

.message-content {
    font-size: 0.9rem;
}